 //variable
 $primary-col:#d2d6d8;
 $heading-col:#ad6c12;
 $subheading-col:#2c3a42;
 $bg-col:#2a3b40;
 $banner-bg-col:#d9dadab8;
 $primary-font:'Raleway',
 sans-serif;
 $secondary-font:'Cookie',
 cursive;
 //mixin for fix bg container
 @mixin fix-bg {
     width: 100%;
     min-height: 900px;
     background-position: center center;
     background-size: cover;
     background-attachment: fixed;
 }
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
     text-transform: capitalize;
     font-family: $primary-font;
     font-weight: 500;
 }
 
 html {
     font-size: 15px;
 }
 
 body,
 html {
     width: 100%;
     overflow-x: hidden;
 }
 
 h2 {
     font-family: 'Cookie', cursive;
     font-size: 3.5rem;
     color: $subheading-col;
     position: relative;
     top: 1rem;
 }
 
 h1 {
     font-size: 2rem;
     color: $heading-col;
     text-transform: uppercase;
     font-weight: 600;
     padding-bottom: 1.5rem;
 }
 /*start header*/
 
 .header {
     width: 100%;
     height: 100vh;
     padding: 1rem 0;
     background-image: url(../images/bg-top.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     text-transform: uppercase;
     position: relative;
     background-attachment: fixed;
     .logo {
         font-size: 2rem;
     }
     a {
         font-size: 1.2rem;
         color: $primary-col;
         font-weight: bolder;
     }
     .navbar-nav .nav-link {
         padding-right: 1rem;
         padding-left: 1rem;
         text-transform: uppercase;
     }
     .navbar-nav .nav-link:hover {
         color: $heading-col;
     }
     .banner {
         width: 30%;
         position: absolute;
         top: 35%;
         left: 35%;
         transform: translateX(-35%);
         transform: translateY(-50%);
         padding: 3rem;
         background-color: $banner-bg-col;
         text-transform: uppercase;
         .btn {
             padding: 0.4rem 1.3rem;
             background-color: white;
             color: $subheading-col;
             text-transform: uppercase;
             display: inline-block;
         }
         .btn:hover {
             background-color: $bg-col;
             color: $primary-col;
         }
     }
 }
 
 .header::before {
     content: " ";
     width: 100%;
     height: 100vh;
     position: absolute;
     left: 0;
     top: 0;
     background-color: rgba(109, 103, 103, 0.54);
 }
 /*--------- end header--------*/
 /*-----------start traditional------------*/
 
 .traditional {
     width: 100%;
     background-color: $bg-col;
     color: $primary-col;
     padding: 5rem 0;
     .text {
         h2 {
             font-size: 1.7rem;
             color: $primary-col;
             font-family: $primary-font;
         }
         p {
             line-height: 2rem;
             padding-top: 3rem;
             padding-right: 3rem;
             text-align: justify;
         }
     }
     img {
         width: 100%;
     }
 }
 /*-----------end traditional section------------*/
 /*-------- start news section ---------*/
 
 .circle-div {
     width: 25px;
     height: 25px;
     border-radius: 100%;
     background-color: $bg-col;
 }
 
 .news {
     width: 100%;
     background-color: $primary-col;
     padding: 5rem 0;
     .text {
         padding-right: 2rem;
         color: $bg-col;
         h3 {
             padding: 1.5rem 0;
             font-size: 1.3rem;
             font-weight: 600;
         }
         p {
             text-align: justify;
         }
     }
 }
 /*-------- end news section ---------*/
 /*----------start ON YOUR PLATE image gallery--------------*/
 
 .image-gallery {
     width: 100%;
     padding: 5rem 0;
     background-image: url(../images/bg-1.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     .plate-div {
         background-color: $banner-bg-col;
         padding: 0;
         h4 {
             padding: 1rem 0;
             font-size: 1.2rem;
             font-weight: bold;
         }
     }
     img {
         width: 100%;
     }
 }
 /*----------end ON YOUR PLATE image gallery--------------*/
 /*--------- start service section ----------*/
 
 .service {
     background-color: $primary-col;
     h3 {
         font-size: 1.5rem;
         padding: 1rem 0;
         color: $subheading-col;
     }
     p {
         padding: 0 5rem;
     }
     img {
         width: 100%;
     }
     .circle {
         margin: 2rem 0;
     }
     a {
         text-decoration: none;
         font-size: 1.1rem;
         padding: 0 1rem;
         color: $subheading-col;
     }
     a:hover {
         color: $heading-col;
     }
 }
 /*--------- end service section ----------*/
 /*------------- start OUR NEW MENU icon section--------*/
 
 .master-menu-div {
     width: 100%;
     min-height: 800px;
     background-image: url(../images/bg-2.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     background-attachment: fixed;
     padding-top: 290px;
     .menu-bg {
         width: 100%;
         background-color: $banner-bg-col;
         .text {
             margin: 2rem 0;
             .heading-para {
                 padding-left: 1rem;
             }
             h4 {
                 font-size: 1rem;
                 font-weight: bolder;
                 color: $subheading-col;
             }
             .icon {
                 width: 100px;
                 height: 60px;
                 border-radius: 100%;
                 padding: 1rem;
                 background-color: #fff;
             }
         }
     }
     img {
         width: 100%;
     }
 }
 /*------------- end OUR NEW MENU icon section--------*/
 
 //bg-container one
 .bg-container {
     @include fix-bg;
     background-image: url(../images/bg-3.jpg);
 }
 
 //satrt booking section
 .booking {
     width: 100%;
     background-color: $bg-col;
     padding: 5rem 0;
     color: $primary-col;
     h2 {
         color: $primary-col;
         padding-bottom: 3rem;
     }
     input,
     select {
         outline: none;
         background-color: transparent;
         border: none;
         border: 1px solid $primary-col;
         border-radius: 0.5rem;
         height: 35px;
         width: 90%;
         padding-left: 0.5rem;
         color: white;
         margin: 0.5rem 0;
         margin-bottom: 3rem;
     }
     label {
         font-size: 1.2rem;
     }
      ::placeholder {
         color: white;
     }
     .form-btn {
         padding: 0.5rem 4rem;
         border: 1px solid $primary-col;
         border-radius: 0.5rem;
         text-decoration: none;
         color: $primary-col;
         display: inline-block;
         margin-top: 1rem;
     }
 }
 
 //end booking section
 //bg container two
 .bg-container2 {
     @include fix-bg;
     background-image: url(../images/bg-4.png);
 }
 
 //start second menu OUR NEW MENU three image card
 .second-menu {
     width: 100%;
     background-color: $banner-bg-col;
     padding: 5rem 0;
     img {
         width: 100%;
     }
 }
 
 //start social icon
 .social-icon {
     width: 100%;
     background-color: $bg-col;
     padding-bottom: 3rem;
     color: $primary-col;
     .content {
         margin: 0 7rem;
         h3 {
             font-size: 5rem;
             position: relative;
             top: 3rem;
         }
         p {
             line-height: 2rem;
         }
     }
     .share {
         margin-top: 3rem;
         i {
             width: 50px;
             height: 50px;
             padding: 0.7rem;
             border-radius: 100%;
             background-color: white;
             margin-top: 2rem;
         }
         .bi {
             font-size: 1.5rem;
             color: $bg-col;
             margin: 0 15px;
         }
     }
 }
 
 //footer
 footer {
     background-color: $banner-bg-col;
     padding: 5rem 0;
     h4 {
         font-size: 1.2rem;
         font-weight: bolder;
         padding-bottom: 1rem;
     }
     p {
         padding-right: 8rem;
         line-height: 2rem;
         text-align: justify;
     }
     ul {
         padding: 0;
         li {
             margin: 1rem 0;
             a {
                 text-decoration: none;
                 color: $subheading-col;
                 &:hover {
                     color: $heading-col;
                 }
             }
         }
     }
 }
 
 //responsive for ipad
 @media(min-width:768px)and(max-width:991px) {
     #nav-icon {
         color: $primary-col;
         font-size: 2rem;
     }
     .header {
         .navbar-nav .nav-link {
             padding-right: 0rem;
             padding-left: 0rem;
         }
         .banner {
             width: 40%;
             left: 30%;
         }
     }
     .second-menu {
         .card-2 {
             margin-left: 150px;
         }
         .card-3 {
             margin-left: 200px;
         }
     }
 }
 
 //responsive for mobile
 @media(max-width:767px) {
     html {
         font-size: 13px;
     }
     h2 {
         font-size: 2.5rem;
     }
     h1 {
         font-size: 1.5rem;
     }
     #nav-icon {
         color: $primary-col;
         font-size: 2rem;
     }
     #nav-icon {
         color: $primary-col;
         font-size: 2rem;
     }
     .header {
         .navbar-nav .nav-link {
             padding-right: 0rem;
             padding-left: 0rem;
         }
         .banner {
             width: 60%;
             left: 20%;
         }
     }
     .service {
         p {
             padding: 0;
         }
     }
     .booking {
         input,
         select {
             width: 100%;
         }
     }
     .social-icon {
         .content {
             margin: 0;
         }
         .share {
             .bi {
                 margin: 0 0.5rem;
             }
         }
     }
     .second-menu {
         .card-2,
         .card-1,
         .card-3 {
             margin-left: 70px;
         }
     }
 }